{% extends 'layout.html' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block body %}
    <div class="mx-auto max-w-4xl rounded-md border p-4 my-2 flex flex-col">
        <h1 class="text-2xl font-bold mb-3">Did you know that... {{ lesson.title }}</h1>
        <p class="mb-3 italic">Between approximately {{ lesson.start_year }} and {{ lesson.end_year }}, this wasn't
            correctly taught in schools. But, thankfully, now we know better!</p>
        <p class="text-lg mb-1">{{ lesson.content }}</p>
    </div>

    <div class="mt-12 mx-auto max-w-3xl text-center">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 mb-2 sm:text-4xl">This is Today I Unlearned</h2>
        <p class="mb-2 text-xl leading-8 text-gray-600">The place to unlearn all the incorrect things you were
            taught at school.</p>
        <p class="text-base font-semibold leading-7 text-indigo-600 mb-4">Enter the year you graduated to see
            more lessons like this one!</p>
        <form method="post" action="/" class="flex justify-center mx-auto">
            <div class="w-1/2">
                <input type="number" name="year"
                       class="block text-center text-base w-full rounded-l-full border-0 pl-3 pr-2 py-2.5
                           text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400
                           focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-base sm:leading-6"
                       placeholder="Year you completed high school" aria-label="Year you completed high school"
                       required>
            </div>
            <div>
                <button type="submit"
                        class="rounded-r-full bg-indigo-600 pr-6 pl-5 py-3 text-base font-semibold text-white
                            sm:text-sm shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
                            focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Show me more!
                </button>
            </div>
        </form>
    </div>
{% endblock %}