{% extends 'layout.html' %}

{% block title %}Thank You For Your Feedback{% endblock %}

{# TODO: hide from the google bots #}

{% block body %}
    <h1 class="text-4xl text-center mb-5">Thank you for your feedback!</h1>
    <p class="text-center">
        <a href="javascript:history.go(-2)" class="inline-block rounded-full bg-indigo-600 px-5 py-3 text-base
                            font-semibold text-white sm:text-sm shadow-sm hover:bg-indigo-700 focus-visible:outline
                            focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Go back
        </a>
    </p>
{% endblock %}