{% extends 'layout.html' %}

{% block title %}Thank You For Your Feedback{% endblock %}

{# hide from the google bots #}
{% block head %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block body %}
    <h1 class="text-4xl text-center mb-5">Thank you for your lesson suggestion!</h1>

    <div class="mx-auto max-w-4xl rounded-2xl border p-4 my-2 flex flex-col mb-5">
        <h1 class="text-lg font-bold mb-1">Did you know that... {{ title }}</h1>
        <p class="mb-2 text-sm italic">Between approximately {{ start_year }} and {{ end_year }}, this wasn't
            correctly taught in schools. But, thankfully, now we know better!</p>
        <p class="mb-1">{{ content }}</p>
    </div>

    <p class="text-center">
        <a href="javascript:history.go(-2)" class="inline-block rounded-full bg-emerald-700 px-5 py-3 text-base
                            font-semibold text-white sm:text-sm shadow-sm hover:bg-emerald-600 focus-visible:outline
                            focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-700">
            Go back
        </a>
    </p>
{% endblock %}