{% extends 'layout.html' %}

{% block title %}Suggest A Lesson{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-4xl text-center mb-5">Suggest A Lesson</h1>
        <form method="post" class="max-w-3xl mx-auto">
            <div class="mb-5">
                <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Lesson Title</label>
                <div class="mt-2">
                    <input type="text" name="title" id="title" value="{{ title }}"
                           class="block w-full rounded-full border-0 px-3.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-700 sm:text-sm sm:leading-6"
                           placeholder="e.g. Knuckle cracking doesn't cause arthritis"
                           aria-describedby="title-description" required>
                </div>
                <p class="mt-2 text-sm text-gray-500" id="title-description">A brief one line overview of your
                    lesson.</p>
            </div>
            <div class="max-w-lg mb-5">
                <label for="start_year" class="block text-sm font-medium leading-6 text-gray-900">Start Year</label>
                <div class="mt-2 max-w-xs">
                    <input type="number" name="start_year" id="start_year" min="0" max="2023" value="{{ start_year }}"
                           class="block w-full rounded-full border-0 px-3.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-700 sm:text-sm sm:leading-6"
                           placeholder="e.g. 1960" aria-describedby="start_year-description" required>
                </div>
                <p class="mt-2 text-sm text-gray-500" id="start_year-description">What year did this start being taught
                    in school?</p>
            </div>
            <div class="max-w-lg mb-5">
                <label for="end_year" class="block text-sm font-medium leading-6 text-gray-900">End Year</label>
                <div class="mt-2 max-w-xs">
                    <input type="number" name="end_year" id="end_year" min="0" max="2030" value="{{ end_year }}"
                           class="block w-full rounded-full border-0 px-3.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-700 sm:text-sm sm:leading-6"
                           placeholder="e.g. 1990" aria-describedby="end_year-description" required>
                </div>
                <p class="mt-2 text-sm text-gray-500" id="end_year-description">What year did this stop being taught in
                    school?</p>
            </div>
            <div class="mb-5">
                <label for="content" class="block text-sm font-medium leading-6 text-gray-900">Lesson Content</label>
                <div class="mt-2">
                    <textarea rows="6" name="content" id="content"
                              class="block w-full rounded-2xl border-0 px-3.5 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-700 sm:text-sm sm:leading-6"
                              placeholder="Things and stuff..." aria-describedby="content-description"
                              required>{% if content %}{{ content }}{% endif %}</textarea>
                </div>
                <p class="mt-2 text-sm text-gray-500" id="content-description">Explain the facts of the situation and
                    how they differ from what was taught.</p>
            </div>
            <div class="mt-2 mb-16">
                <button type="submit"
                        class="inline-flex items-center rounded-full bg-emerald-700 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-emerald-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-700">
                    Submit Lesson
                </button>
            </div>
        </form>
    </div>
{% endblock %}