{% extends 'layout.html' %}

{% block title %}Class of {{ year }}{% endblock %}

{% block body %}
    <h1 class="font-bold text-4xl mb-4 text-center">Class of {{ year }} • Today I Unlearned</h1>
    <h2 class="text-xl mb-6 text-gray-900 text-center">See the lessons below to unlearn the things you were probably
        taught and school but were later discovered to be incorrect.</h2>
    <div class="grid grid-cols-2 gap-8 my-8 mb-12">
        {% for lesson in lessons %}
            <div class="rounded-md border p-4 my-2 flex flex-col h-full">
                <h2 class="text-xl font-bold mb-3">{{ lesson.title }}</h2>
                <p class="text-lg mb-3">{{ lesson.content }}</p>
                <ul class="list-none flex flex-row space-x-2 mt-auto">
                    <li class="mr-auto">
                        <span class="inline-flex items-center gap-x-1.5 rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700">
                          <svg class="h-1.5 w-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
                            <circle cx="3" cy="3" r="3"></circle>
                          </svg>
                          Usefulness: <strong>{{ lesson.usefulness }}</strong>
                        </span>
                    </li>
                    <li>
                        <form action="/vote/{{ year }}/{{ lesson.id }}" method="post">
                            <button type="submit"
                                    class="rounded-full bg-white px-2.5 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                👍
                            </button>
                            <input type="hidden" name="is_upvote" value="1">
                        </form>
                    </li>
                    {# todo: indicate when vote already cast #}
                    <li>
                        <form action="/vote/{{ year }}/{{ lesson.id }}" method="post">
                            <button type="submit"
                                    class="rounded-full bg-white px-2.5 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                👎
                            </button>
                            <input type="hidden" name="is_upvote" value="0">
                        </form>
                    </li>
                    <li>
                        <a href="/lesson/{{ lesson.id }}" class="inline-block rounded-full bg-white px-2.5 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                            Share
                        </a>
                        {# todo: onClick() copy link to clipboard (and flash accordingly) #}
                    </li>
                    <li>
                        <button class="rounded-full bg-white px-2.5 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                            Provide Feedback
                        </button>
                    </li>
                </ul>
            </div>
        {% endfor %}
        {# todo: useful empty state #}
    </div>
{% endblock %}